<div id="ribbits" class="panel left">
	<h1> Sexy Ribbit Profile</h1>
	<div class="ribbitWrapper">
		<img class="avatar" src="<%= @user.avatar_url %>" />
		<span class="name"><%= @user.name %></span> @<%= @user.username %>
		<p>
			xx Ribbits
			<span class="spacing"> xx Followers </span>
			<span class="spacing"> xx Following </span>
		</p>
	</div>
	</div>

	<div class="panel left">
	<h1> Ribbits</h1>
	<div class="ribbitWrapper">
		Sexy Ribbits Coming...
		</div>
		</div>
